/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #121212;
     font-size: 16px;
     line-height: 1.4;
     font-family: 'Open Sans', Helvetica, Arial, sans-serif;
     width: 100%;
     height:100%;
     margin: 0;
     padding: 0;
     color:#BDBDBD;
     background: #1EFFBC;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container{
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
}

h1 {
    position:relative;
    top:50%;
    margin-top:-1em;
    font-size: 12em;
    letter-spacing: 0.05em;
    font-weight: 700;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (min-width:1px) and (max-width:768px){
    h1{
        font-size: 4em;
    }
}
@media screen and (min-width:769px) and (max-width:1440px){
    h1{
        font-size: 6em;
    }
}
